<html>
<script defer type="text/javascript" src="../public/js/viewpost.js"></script>

<body>
  <header>
    <title>Post Viewing Page</title>
  </header>
  <!--Main Navigation-->

  <!--Main layout-->

  <main>
    <!-- title -->
    <div class="posting-box">
      <p> {{currentPost.title}} by {{currentPost.username}}</p>

      <img class="image-container" src="/{{currentPost.image}}" />

      {{!-- description --}}
      {{currentPost.description}}

      <div class="post-author-date">
        <p class="author">{{currentPost.username}}</p>
        <p class="date-posted">{{formatDate currentPost.createdAt}}</p>
      </div>
      <form action="">
        <div class="comment-section">
          <div class="comment-box">
            <textarea id="comment-text" class="comment-box-text" style="resize: none;" cols="80"></textarea>
            <input type="button" class="comment-button" id="comment-button" value="Comment"
              data-postid="{{currentPost.id}}" aria-hidden="true">
          </div>
          <div class="comments">
            {{!-- place comments --}}
          </div>
      </form>
    </div>
  </main>




</html>